<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>HR ERP System</h1>
    </div>
    <nav>
             <a href="/index">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="#">Admin Login</a>
            <a href="/contact">Contact Us</a>
    </nav>
    <div class="sidebar">
            <a href="/index">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="#">Admin Login</a>
            <a href="/contact" style="border:none;">Contact Us</a>
                        <!-- <a href="/adminlogin" id="btn">Logout</a> -->

    </div>

    <div class="detail1">
        <h1>Admin Login</h1>
        <br>
        <form action="/adminpage" method="post">
            <label for="">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <input type="email" name="email" placeholder="Enter Email"><br><br>
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="Enter Password">    
        <br><br>
        <button>Log In</button>
        </form>
    </div>

</body>
</html>