<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/style.css">
<style>
    img{
        margin:20px 30px 50px 30px;
    }
</style>
</head>
<body>
    <div class="container">
        <h1>HR ERP System</h1>
    </div>
    <nav>
             <a href="">Home</a>
            <a href="">New Employees</a>
            <a href="">Show Employees</a>
            <a href="">Search Employees</a>
    </nav>
    <div class="sidebar">
       <img src="/static/images/boy.png" alt="profile" width="200">
                        <a href="adminlogin" id="btn">Logout</a>
    </div>

    <div class="detail">
        <h1>WelCome Administrator😊</h1>
</body>
</html>