<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>HR ERP System</h1>
    </div>
    <nav>
             <a href="#">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="/adminlogin">Admin Login</a>
            <a href="/contact">Contact Us</a>
    </nav>
    <div class="sidebar">
            <a href="#">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="/adminlogin">Admin Login</a>
            <a href="/contact" style="border:none;">Contact Us</a>
            <!-- <a href="/adminlogin" id="btn">Logout</a> -->
    </div>

    <div class="detail">
        <h1>WelCome To My Homepage</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem veritatis nihil quibusdam quidem vitae quis sequi harum ut beatae voluptatem, consequuntur culpa delectus, minima placeat tenetur facilis accusamus totam alias quaerat est, neque similique cum. Quae, similique quo iure hic possimus obcaecati optio, nam omnis minus, et sunt! Saepe, soluta!</p>
    </div>

</body>
</html>